@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
:root {
  --color-primary-light: #a0e696;
  --color-primary-dark: #d3959b;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px*/
}

@media only screen and (max-width: 68.75em) {
  html {
    box-sizing: border-box;
    font-size: 50%; /*1rem = 8px*/
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  /* background-color: linear-gradient(to right, #d3959b, #bfe6ba);*/
  color: var(--color-primary-dark);
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--color-grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-left: 3rem;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 45%;
  }
}


.logo {
  height: 3.25rem;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  border: none;
}
.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
}
.search__input::webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}
.search__button {
  border: none;
  background-color: var(--color-grey-light-2);
}
.search__button:focus {
  outline: none;
}
.search__button:active {
  transform: translateY(2px);
}

.user-nav {
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}
.user-nav > * {
padding: 0 5rem;
}
.user-nav__icon-box {
  display: flex;
  align-items: center;
}

.image-container {
  position: relative;
  text-align: center;
  color: white;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vw;
}

.main_picture {
  width: 100%;
  object-fit: scale-down;
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  min-height: 50rem;

}
@media only screen and (max-width: 75em) {
  .container {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.content {
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .content {
    flex-direction: column;
  }
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}

@media only screen and (max-width: 56.25em) {
  .side-nav {
    display: flex;
    margin: 0;
  }
}

.side-nav__item {
  position: relative;
}

@media only screen and (max-width: 56.25em) {
  .side-nav__item {
    flex: 1;
  }
}

.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 56.25em) {
  .side-nav__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary-dark);
  transform: scaleY(0);
  transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s;
}
.side-nav__item:hover::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__link:link {
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
}

@media only screen and (max-width: 56.25em) {
  .side-nav__link:link {
    justify-content: center;
    padding: 2rem;
  }
}
.side-nav__link:visited {
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
}

@media only screen and (max-width: 56.25em) {
  .side-nav__link:visited {
    justify-content: center;
    padding: 2rem;
  }
}

.legal {
  font-size: 1.2rem;
  color: var(color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
  text-decoration: none;
}
@media only screen and (max-width: 56.25em) {
  .legal {
    display: none;
  }
}

.legal__icons a{
  text-decoration: none;
  color: var(--color-primary-dark);
}
.main-view {
  background-color: var(color-grey-light-1);
  font-size: 1.4rem;
  flex: 1;
  display: flex;
  padding: 4.5rem;
  border-bottom: 1px solid var(color-grey-light-2);
}

@media only screen and (max-width: 56.25em) {
  .main-view {
    padding: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .main-view {
    flex-direction: column;
  }
}

.meal-description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
}

@media only screen and (max-width: 56.25em) {
  .meal-description {
    margin-right: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .main-view {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.meals-list {
  list-style: none;
}

.meal-list-items {
  display: flex;
  flex-direction: row;
}

.meal {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0,0,0,0.06);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.meal-image {
  height: 18rem;
  width: 18rem;
  margin-right: 1.5rem;
}

@media only screen and (max-width: 75em) {
  .meal-image {
    height: 12rem;
    width: 12rem;
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .meal-image {
    height: 10rem;
    width: 10rem;
    margin-right: 1rem;
  }
}

.meal__heading {
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  font-weight: 600;
}

.meal__description {
  margin-bottom: 1rem;
}

.meal__location {

}

.meal__price {

}

.button {
  background-color: var(--color-primary-light);
  border: none;
  color: white;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.8rem;
  margin: 2rem 5rem;
  cursor: pointer;
  }

.user-reviews {
  flex: 1;
}
#reviews-list {
  list-style: none;
}
.review {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0,0,0,0.06);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 56.25em) {
  .review {
    padding: 2rem;
    margin-bottom: 3rem;
  }
}

.review__title {
  text-transform: uppercase;
  margin-bottom: 2rem;
  z-index: 10;
  position: relative;
}
.review__text {
  margin-bottom: 2rem;
  z-index: 10;
  position: relative;
}
.review__user {
  display: flex;
  align-items: center;
}
.review__photo {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.review__user-box {
  margin-right: auto;
}
.review__user-name {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-bottom: .4rem;
}
.review__user-date {
  font-size: 1rem;
  color: var(--color-grey-dark-3);
}
.review__rating {
  color: var(--color-primary-light);
  font-size: 2.2rem;
  font-weight: 300;
}
.review::before {
  content: "\201C";
  position: absolute;
  top: -2.75rem;
  left: -1rem;
  line-height: 1;
  font-size: 20rem;
  color: var(--color-grey-light-2);
  font-family: sans-serif;
  z-index: 1;
}

.more-info {
  cursor: pointer;
  margin-left: 3px;
  display: inline-block;
  text-decoration: none;
  color: var(--color-grey-dark-2);
}

h3 {
  margin-bottom: 2rem;
}
.create-meal{
  padding: .5rem;
}
.create-meal input[type="text"],
.create-meal input[type="date"],
.create-meal input[type="datetime"],
.create-meal input[type="email"],
.create-meal input[type="tel"],
.create-meal input[type="search"],
.create-meal input[type="time"],
.create-meal input[type="url"],
.create-meal textarea,
.create-meal select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
}
.create-meal input[type="text"]:focus,
.create-meal input[type="date"]:focus,
.create-meal input[type="datetime"]:focus,
.create-meal input[type="email"]:focus,
.create-meal input[type="tel"]:focus,
.create-meal input[type="search"]:focus,
.create-meal input[type="time"]:focus,
.create-meal input[type="url"]:focus,
.create-meal textarea:focus,
.create-meal select:focus
{
	box-shadow: 0 0 5px var(--color-grey-dark-2);
	padding: 2%;
  border: 1px solid var(--color-grey-dark-3);
  background-color: #fff;
}

.create-meal input[type="submit"],
.create-meal input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
  padding: 2%;
	background: var(--color-primary-dark);
	border-bottom: 2px solid var(--color-primary-dark);
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.create-meal input[type="submit"]:hover,
.create-meal input[type="button"]:hover{
	background: var(--color-primary-dark);
}
.user-reviews__all {
  flex: 0 0 60%;
  margin-right: 4.5rem;
}
@media only screen and (max-width: 56.25em) {
  .user-reviews__all {
    margin-right: 3rem;
  }
}

.create-review{
  padding: .5rem;
}
.create-review input[type="text"],
.create-review input[type="date"],
.create-review input[type="datetime"],
.create-review input[type="email"],
.create-review input[type="tel"],
.create-review input[type="search"],
.create-review input[type="time"],
.create-review input[type="number"],
.create-review textarea,
.create-review select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background-color: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
}
.create-review input[type="text"]:focus,
.create-review input[type="date"]:focus,
.create-review input[type="datetime"]:focus,
.create-review input[type="email"]:focus,
.create-review input[type="tel"]:focus,
.create-review input[type="search"]:focus,
.create-review input[type="time"]:focus,
.create-review input[type="number"]:focus,
.create-review textarea:focus,
.create-review select:focus
{
	box-shadow: 0 0 5px var(--color-grey-dark-2);
	padding: 2%;
  border: 1px solid var(--color-grey-dark-3);
  background-color: #fff;
}

.create-review input[type="submit"],
.create-review input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
  padding: 2%;
	background: var(--color-primary-dark);
	border-bottom: 2px solid var(--color-primary-dark);
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.create-review input[type="submit"]:hover,
.create-review input[type="button"]:hover{
	background: var(--color-primary-dark);
}
